################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Database/Schema/ProductFeatureMgmt_Log.ldf
/Database/Schema/ProductFeatureMgmt_Data.mdf
/ProductFeatureManagementWebApi/.vs/ProductFeatureManagementWebApi
/ProductFeatureManagementWebApi/.vs/ProjectEvaluation
/ProductFeatureManagementWebApi/bin/Debug/net7.0
/ProductFeatureManagementWebApi/obj
